<div class="contact-us">
    <div class="contact-us-triangular-container">
        <div class="contact-us-triangular">
            <div class="contact-us-triangular-content">
                <div class="contact-us-triangular-text">
                    <h3>Do You Enjoy Our Website?</h3>
                    <h5>Let Us Know What You Think</h5>        
                </div>        
                <div class="stars-rating">
                    <div class="star5" tabindex="0">
                        <mat-icon class="star-icon">star</mat-icon>
                        <mat-icon class="star-icon5">star</mat-icon>
                    </div>
                    <div class="star4" tabindex="0">
                        <mat-icon class="star-icon">star</mat-icon>
                        <mat-icon class="star-icon4">star</mat-icon>
                    </div>            
                    <div class="star3" tabindex="0">
                        <mat-icon class="star-icon">star</mat-icon>
                        <mat-icon class="star-icon3">star</mat-icon>
                    </div>            
                    <div class="star2" tabindex="0">
                        <mat-icon class="star-icon">star</mat-icon>
                        <mat-icon class="star-icon2">star</mat-icon>
                    </div>            
                    <div class="star1" tabindex="0">
                        <mat-icon class="star-icon">star</mat-icon>
                        <mat-icon class="star-icon1">star</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us-rectangular">
        <div class= "faHome-div-contact-us">
            <fa-icon [icon]="faHome" routerLink="/home" class="home-icon"></fa-icon>                 
        </div> 
        <h1>Contact Us:</h1>
        <div>
            <div>
                <fa-icon [icon]="faAt" class="email-icon"></fa-icon>
                <input type="text">                
            </div>
            <div>
                <fa-icon [icon]="faPaperclip" class="text-icon"></fa-icon>
                <textarea name=""></textarea>                
            </div>
        </div>

        <div class="contact-us-post">
            <table>          
                <tr>
                    <th>Street:</th> 
                    <td>1 Some St.</td>                         
                </tr>
                <tr>
                    <th>Neighborhood:</th>
                    <td>Some neighborhood</td>                                 
                </tr>
                <tr>
                    <th>Post Code:</th> 
                    <td>Some Post Code</td>                               
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>+972-999-999-9999</td>                                  
                </tr>
            </table>
        </div> 
        <div class="logo-contact-us">
            <h1>Choose Wide</h1>
            <h2>Abundant Supply To All Your Needs</h2>                
        </div>      
    </div>
</div>