<div class="about-us">
    <div class="about-us-top-rectangular">
        <h1>About Us</h1>
        <p>Here at Choose Wide we provide the best care to all our products, by giving it the best treatment, 
            get your delivery done the fastest we can, and doing our out most best to give you all your necessities. 
        </p>
    </div>
    <div class="about-us-bottom-rectangular">
        <p>This website as well as our products, is well taking care of and would always try to bring you with the latest 
            features and trends to provide the best experience. In order to do that, our team work really hard thus giving us 
            good feedback would highly appreciated!.
        </p>
        <p>We will be available to answer any question you may have, or any comment you want to add, 
            our team will be here and would love to hear from you and address all you troubles.            
        </p>
        <div class="about-us-bottom-text">
            <div>
                <p>Please take care of us!</p>
                <p>With love</p>                
            </div>
            <div class="logo-about-us">
                <h1>Choose Wide</h1>
                <h2>Abundant Supply To All Your Needs</h2>                
            </div>
            <div class= "faHome-div">
                <mat-icon routerLink="/home" class="home-icon">home</mat-icon>                
            </div> 
        </div>
    </div>
    <div class="about-us-triangular"></div> 
    <div class="about-us-triangular-text">
        <h3>Interested To See More?</h3>
        <h4>Check Our Other Projects:</h4>
        <a target='_blank' href="https://github.com/Hen-Haim/Notes-Memory">Notes-Memory</a>
        <a target='_blank' href="https://github.com/Hen-Haim/Project-Coins">Coins-Market</a>
        <a target='_blank' href="https://github.com/Hen-Haim/Vacations-Project">Vacations-Planning</a>        
    </div>
</div>

